<%- include("./components/header") %>

<a class="aTag" href="/feed"><h4 class="Back to home page!">Click here for Home page</h4></a>
    <h6 class="notFound"> 404 !! Page is not found.</h6>
<%- include("./components/footer") %> 
