<%- include("./components/header") %>

<a class="aTag" href="/feed"><h4 class="welComeToFB">Back to home page</h4></a>
<h6 class="H6">The Name field must be no longer than 15 characters</h6>
<h6 class="H6">The Message field must be no longer than 40 character</h6>



    
<%- include("./components/footer") %> 
