body{
    width: 80%;
    border: 1px solid black;
    margin: auto;
    margin-top:5%;
    background-color: lightgray;
    height: auto;
}
.card{
    margin: 1% 0 2% 10%;
    width: 70%;
    height: auto;
}
form{
    margin:5%;
}
small{
    color: red;
}
.facebook-p{
    margin:2% 0 0 70%;
    text-decoration: none;
    font: black;
    
}
.aTag{
   text-align: left;
}
.formatting{
    display: flex;
    justify-content: space-between;
}

.buttonAndDate{
    width: 70%;
    margin-left: 3.125rem;
    font-size: 0.9rem;
}
.nameAndMessage{
    width: 80%;
}

.card-title1{
    font-size: 1.1rem;
}
.card-title{
    font-size: 1.1rem;
}
.notFound{
    color: red;
}
.card-body1{
    display: flex;
    justify-content: space-between;
}
.dateOfEdit{
    font-size: 0.8rem;
    margin-right: 6.25rem;
}
.name{
    width: 100%;
}
.message{
    width: 100%;
}
.seeMorePage{
    text-decoration: underline;
}
.btnPrimary{
    margin:10% 0 0 50%;
}
.H6{
    color: red;
}
.add-btn{
    margin: 2% 0 0 70%;
}  
.form-control{
    width: 70%;
    margin:0 0 30px 60px 
    
} 
.form-control-msg{
    width: 70%;
    height:70px;
}
p{
    color:black;
    font-weight: bold;
}